@model AutoServis.Models.Kontakt

	@{
		ViewBag.Title = "Kontakt";
	}

	<h2>@ViewBag.Title.</h2>

	<address>
		@Model.Adresa<br/>
		@Model.Mjesto
		<abbr title="Phone">P:</abbr>
		@Model.BrojTel
	</address>

	<address>
		<strong>Support:</strong>   <a href=@Model.Email>@Model.Email</a><br />
	</address>