@model AutoServis.Models.Kontakt

@{
    ViewBag.Title = "Kontakt";
}

<h2>@ViewBag.Title</h2>

<address>
    @Model.Adresa <br/>
    @Model.Mjesto <br/>
    Telefon : @Model.BrojTel
</address>

<address>
    <strong>Support:</strong> <a href="@Model.Email">@Model.Email</a><br/>
</address>