<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Najbolji mehaničar", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.IsInRole("Korisnik"))
                {
                    <li>@Html.ActionLink("Moji podaci", "Index", "Korisnik")</li>
                    <li>@Html.ActionLink("Dodaj vozilo", "Add", "Korisnik")</li>
                    <li>@Html.ActionLink("Zatraži popravak", "Repair", "Korisnik")</li>
                }
                @if (User.IsInRole("Serviser"))
                {
                    <li>@Html.ActionLink("Početna stranica", "Index", "Serviser")</li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Početna stranica", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Serviseri", "Serviseri", "Admin")</li>
                    <li>@Html.ActionLink("Korisnici", "Korisnici", "Admin")</li>
                    <li>@Html.ActionLink("Kontakt podaci", "KontaktServisa", "Admin")</li>
                }
                @if (!User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>