@model AutoServis.ViewModels.IndexKorisnikViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vaše informacije</h2>
<hr/>

<ul class="list-group list">
    <li class="list-group-item active">
        Ime i prezime: @Model.Ime @Model.Prezime
    </li>
    <li class="list-group-item">
        Broj telefona: @Model.BrojTel
    </li>
    <li class="list-group-item">
        Email: @Model.Email
    </li>
</ul>
<div class="container">
    <div class="col-md-6">
        <h2>Vozila</h2>
        <hr/>
        @foreach (var vozilo in Model.Vozila)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Vozilo: @vozilo.Tip</h4>
                </div>
                <div class="panel-body">
                    <p>Registarska oznaka: @vozilo.RegOznaka</p>
                    <p>Godina proizvodnje: @vozilo.GodProizv</p>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h2>Popravci</h2>
        <hr/>
        @foreach (var popravak in Model.Popravci)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Popravak vozila: @popravak.Vozilo</h4>
                </div>
                <div class="panel-body">
                    <p>Serviser: @popravak.Serviser</p>
                    <p>Termin: @popravak.Termin</p>
                    <p>Usluge:</p>
                    <ul class="list-group list">
                        @foreach (var usluga in popravak.Usluge)
                        {
                            <li class="list-group-item">@usluga</li>
                        }
                    </ul>
                    <p>Dodatan opis: @popravak.DodatniOpis</p>
                    <p>Napomena servisera: @popravak.Napomena</p>
                    @if (@popravak.ZamjenskoVozilo != null)
                    {
                        <p>Zamjensko vozilo: @popravak.ZamjenskoVozilo</p>
                    }
                    else
                    {
                        <p>Zamjenko vozilo nije odabrano</p>
                    }
                </div>
            </div>
        }
        <hr/>
    </div>
</div>