@model AutoServis.ViewModels.IndexKorisnikViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informacije o korisniku</h2>
<hr/>

<ul class="list-group list">
    <li class="list-group-item">
        Ime: @Model.Ime
    </li>
    <li class="list-group-item">
        Prezime: @Model.Prezime
    </li>
    <li class="list-group-item">
        Broj telefona: @Model.BrojTel
    </li>
    <li class="list-group-item">
        Email: @Model.Email
    </li>
</ul>
<div class="container">
    <div class="col-md-6">
        <h2>Vozila</h2>
        <hr/>
        <ul class="list-group list">
            @foreach (var vozilo in Model.Vozila)
            {
                <li class="list-group-item">
                    Tip vozila: @vozilo.Tip<br/>
                    Registarska oznaka: @vozilo.RegOznaka<br/>
                    Godina proizvodnje: @vozilo.GodProizv
                </li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Popravci</h2>
        <hr />
        <ul class="list-group list">
            @foreach (var popravak in Model.Popravci)
            {
                <li class="list-group-item">
                    Vozilo: @popravak.Vozilo<br/>
                    Serviser: @popravak.Serviser<br/>
                    Usluge:
                    <ul class="list-group list">
                        @foreach (var usluga in @popravak.Usluge)
                        {
                            <li class="list-group-item">@usluga</li>
                        }
                    </ul>
                    Dodatan opis: @popravak.DodatniOpis
                </li>
            }
        </ul>
        <hr/>
    </div>
</div>