@model AutoServis.ViewModels.KorisnikViewModelForAdminChanges

<hr/>
<div class="form-group">
    @Html.LabelFor(m => m.Ime, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Ime, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Ime)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Prezime, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Prezime, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Prezime)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.BrojTel, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.BrojTel, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.BrojTel)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Email)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Password)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
</div>