@model IEnumerable<AutoServis.Models.Serviser>

@{
    ViewBag.Title = "Serviseri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Serviseri</h2>
<hr/>
<div class="form-group">
    <div class="btn btn-primary">@Html.ActionLink("Dodaj servisera", "DodajServisera", "Admin")</div>
</div>

<table id="serviseri" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Ime i prezime</th>
            <th>Broj telefona</th>
            <th>EMail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var serviser in Model)
        {
            <tr>
                <td>@Html.ActionLink(serviser.Ime + " " + serviser.Prezime, "IzmjeniServisera", "Admin", new { id = serviser.Id }, null)</td>
                <td>@serviser.BrojTel</td>
                <td>@serviser.Email</td>
                <td><button data-serviser-id="@serviser.Id" class="btn btn-link">Izbrisi</button></td>
            </tr>
        }
    </tbody>
</table>

